
<div class="text-center" style="margin-top:5%;">
    <h1 style="font-size:80px;">Website </h1>
    <a href="#">
        <img src="~/Images/HomePage/p1.png" style="display:block; width: 100%;  margin:auto;" />
    </a>
</div>
